*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(179, 155, 155, 0.69);
}
button{
  border: none;
}